{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'image-location-' ~ content.field_image_position['#items'].getString(),
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('card card-testimonial') }}>
      <div class="row">
        <div class="col-lg-6">
          <div class="testimonial-content">
            {% if content.field_provus_testimonial_body.0 %}
              <div class="testimonial-body">
                {{ content.field_provus_testimonial_body.0|raw }}
              </div>
            {% endif %}
            {% if content.field_provus_testimonial_name.0 %}
              <div class="testimonial-name">
                {{ content.field_provus_testimonial_name }}
              </div>
            {% endif %}
            {% if content.field_provus_testimonial_role.0 %}
              <div class="testimonial-role">
                {{ content.field_provus_testimonial_role }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-6">
          {% if content.field_provus_media_image.0 %}
            <div class="testimonial-image">
              {{ content.field_provus_media_image }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
