{{ attach_library('provus/bootstrap') }}

{% set numbergroup__base_class = 'tabbed' %}

<div {{ bem(numbergroup__base_class) }}>

  <div {{ bem('inner', [], numbergroup__base_class) }}>

    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      {% for key, tab in tabs %}
        <li class="nav-item">
          <a class="nav-link {% if key == 0 %}active{% endif %}" id="pills-{{ key }}-tab" data-toggle="pill" href="#pills-{{ key }}" role="tab" aria-controls="pills-{{ key }}" aria-selected="{% if key == 0 %}true{% else %}false{% endif %}">
            {{ tab.tab_text }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabContent">
      {% for key, tab in tabs %}
        <div class="tab-pane fade {% if key == 0 %}show active{% endif %}" id="pills-{{ key }}" role="tabpanel" aria-labelledby="pills-{{ key }}-tab">
          <div class="tabbed-wrapper">
            {{ tab.tab_content }}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
