{% set filestable__base_class = 'files-table' %}

<div {{ bem(filestable__base_class) }}>
  <div {{ bem('inner', [], filestable__base_class) }}>
    <h2 class="title">{{ title }}</h2>
    <table>
      <thead>
        <tr>
          <th id="view-filename-table-column" class="views-field views-field-filename" scope="col">File</th>
          <th id="view-filesize-table-column" class="views-field views-field-filesize" scope="col">Size</th>
          <th id="view-changed-table-column" class="views-field views-field-changed" scope="col">Last Modified</th>
        </tr>
      </thead>
      <tbody>

        {% block content %}
          {% for item in content %}
            <tr class="extension-{{ item.file__icon }}">
              <td headers="view-filename-table-column" class="views-field views-field-filename">
                {% include "@atoms/text/headings/_heading.twig" with {
                  heading_base_class: card__heading__base_class|default('heading'),
                  heading_modifiers: card__heading__modifiers,
                  heading_blockname: card__base_class,
                  heading_level: 4,
                  heading: item.file__name,
                  heading_url: item.file__url|default(item.file__url),
                } %}
              </td>
              <td headers="view-filesize-table-column" class="views-field views-field-filesize">
                {{ item.file__size }}
              </td>
              <td headers="view-changed-table-column" class="views-field views-field-changed">
                {{ item.file__changed }}
              </td>
            </tr>
          {% endfor %}
        {% endblock %}

      </tbody>
    </table>

  </div>
</div>
