<div class="card">
  <div class="card-header" id="heading{{ key }}">
    <h2 class="mb-0">
      <button class="btn btn-link{% if key != 0 %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="{% if key == 0 %}true{% else %}false{% endif %}" aria-controls="collapse{{ key }}">
        <span class="material-icons add">add</span>
        <span class="material-icons remove">remove</span>
        <span>{{ item_heading }}</span>
      </button>
    </h2>
  </div>

  <div id="collapse{{ key }}" class="collapse{% if key == 0 %} show{% endif %}" aria-labelledby="heading{{ key }}" data-parent="#accordionExample">
    <div class="card-body">
      {{ item_body }}
    </div>
  </div>
</div>
