{% set card__base_class = 'gallery carousel' %}

<div {{ bem(card__base_class, card__modifiers, card__blockname, card__extra_classes) }}>
  <div {{ bem('wrapper', card__content__modifiers, card__base_class) }}>
    <ul class="imageGallery">
      {% for item in items %}
        <li data-thumb="{{ item.image_thumb_src }}" data-src="{{ item.image_src }}">
          <img src="{{ item.image_src }}" alt="{{ item.image_alt }}" />
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
