{% set search__base_class = 'search-results' %}

<div {{ bem(inside__base_class) }}>
  <div {{ bem('wrapper', card__content__modifiers, search__base_class) }}>
    {% block content %}
      {% for item in content %}
        <div {{ bem('item', card__content__modifiers, search__base_class) }}>
          <p>{{ item.search__result__url }}</p>
          {# Link #}
          {% include "@atoms/links/link/link.twig" with {
            "link_content": item.search__result__title,
            "link_url": item.search__result__link,
            "link_base_class": item_base_class|default(menu_class ~ 'title__link'),
          } %}
          <p>{{ item.search__result__body }}</p>
        </div>
        {% endfor %}
      {% endblock %}
  </div>
</div>
