{{ attach_library('provus/navigation') }}
{{ attach_library('provus/utility') }}
{{ attach_library('provus/google-translate') }}

{% set header__search_src = directory ? '/' ~ directory ~ '/images/icons/ico-search.svg' : 'images/icons/ico-search.svg' %}
{% set header__logo_src = directory ? '/' ~ directory ~ '/images/logo.png' : 'images/logo.png' %}

<div {{ bem('navigation', [], header__base_class) }}>
  <div {{ bem('branding', [], header__base_class) }}>
    {% block header__logo_provus %}
      {% embed "@atoms/links/link/link.twig" with {
        link_base_class: 'logo-link',
        link_url: logo_link__url|default('/'),
      } %}
        {% block link_content %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: header__logo_src,
            image_alt: header__logo_alt|default('Logo'),
            responsive_image_blockname: 'logo',
          } %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  </div>
  <div {{ bem('menu', [], header__base_class) }}>
    {% block header__menu %}
      {% include "@molecules/menus/main-menu/main-menu.twig" %}
    {% endblock %}
  </div>
  <div {{ bem('utilities', [], header__base_class) }}>
    <div {{ bem('traslate', [], header__base_class) }}>
      <div id="google_translate_element"><span class="btn-translate"><span class="ico-translate"></span>TRANSLATE</span></div>
    </div>
  </div>
  <div {{ bem('search', [], header__base_class) }}>
    <a href="#">
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_src: header__search_src,
        image_alt: 'Search',
        image_base_class: 'ico-search',
        responsive_image_blockname: 'search',
      } %}
    </a>
    {% block header__search %}
      {% include "@molecules/form/search/search-bar.twig" with {
        search_bar__action: '/search',
        search_bar__keys: 'keys',
        search_bar__placeholder_text: 'Search',
        search_bar__options: [{'title': 'Catalog', 'value': 'catalog'}, {'title': 'Current Agency', 'value': 'agency'}, {'title': 'Entire County', 'value': 'county'}],
      } %}
    {% endblock %}
  </div>
</div>
