{{ attach_library('provus/site-footer') }}

{% set footer__base_class = 'footer' %}

<footer {{ bem(footer__base_class) }}>
  <div {{ bem('inner', [], footer__base_class) }}>
    <div {{ bem('logo_footer', [], footer__base_class) }}>
      {% block footer__logo %}
        {% include "@organisms/logo-footer/logo-footer.twig" %}
      {% endblock %}
    </div>
    <div {{ bem('navigation_menu', [], footer__base_class) }}>
      {% block footer__navigation_menu %}
        <h2 tabindex="0">{{navigation.label}}</h2>
        {% include "@molecules/menus/inline/inline-menu.twig" with
          {
            inline_menu_items: navigation.inline_menu_items
          }
        %}
      {% endblock %}
    </div>
    <div {{ bem('resources_menu', [], footer__base_class) }}>
      {% block footer__resources_menu %}
        <h2 tabindex="0">{{resources.label}}</h2>
        {% include "@molecules/menus/inline/inline-menu.twig" with
          {
            inline_menu_items: resources.inline_menu_items
          }
        %}
      {% endblock %}
    </div>
    <div {{ bem('social', [], footer__base_class) }}>
      {% block footer__social %}
        {% include "@molecules/menus/social/social-menu.twig" %}
      {% endblock %}
    </div>
  </div>
  {% include "@molecules/browser-popup/browser-popup.twig" %}
</footer>
