{% set search_form_base_class = search_form_base_class|default('search-page-form search-banner-form') %}
{% set label = label|default('Search') %}
{% set action = action|default('/search') %}
{% set value = value|default('') %}
{% set query = query|default('keys') %}

<form action="{{ action }}" method="get" class="{{ search_form_base_class }}" accept-charset="UTF-8">
  <div class="form-type-textfield">
    {% if search_input_icon %}
      <span class="material-icons" aria-hidden="true">search</span>
    {% endif %}
    <input title="{{ label }}" aria-label="{{ label }}" value="{{ value }}" class="form-search long form-text{%if search_input_icon %} icon{% endif %}" placeholder="{{ placeholder }}" type="search" id="edit-banner-keys" name="{{ query }}" size="15" maxlength="128" data-toggle="tooltip" data-original-title="{{ placeholder }}">
  </div>
  <div class="form-actions">
    {% include "@atoms/buttons/twig/button.twig" with {
      button_content: search__button__text,
      button_url: search__button__url,
    } %}
  </div>
</form>
