{{ attach_library('countyoc/utility') }}
{{ attach_library('countyoc/google-translate') }}


{% set header__logo_src = directory ? '/' ~ directory ~ '/images/logo.png' : 'images/logo.png' %}
{% set facebook__social_src = directory ? '/' ~ directory ~ '/images/icons/ico-facebook.svg' : '/images/icons/ico-facebook.svg' %}
{% set youtube__social_src = directory ? '/' ~ directory ~ '/images/icons/ico-youtube.svg' : '/images/icons/ico-youtube.svg' %}
{% set twitter__social_src = directory ? '/' ~ directory ~ '/images/icons/ico-twitter.svg' : '/images/icons/ico-twitter.svg' %}
{% set instagram__social_src = directory ? '/' ~ directory ~ '/images/icons/ico-instagram.svg' : '/images/icons/ico-instagram.svg' %}

<div {{ bem('utility', [], header__base_class) }}>
  <div {{ bem('logo-top', [], header__base_class) }}>
    {% block header__branding %}
      {% embed "@atoms/links/link/link.twig" with {
        link_base_class: 'logo-link',
        link_url: logo_link__url|default('/'),
      } %}
        {% block link_content %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: header__logo_src,
            image_alt: 'Logo',
            responsive_image_blockname: 'logo',
          } %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  </div>
  <div {{ bem('utilities', [], header__base_class) }}>
    <div {{ bem('traslate', [], header__base_class) }}>
      <div id="google_translate_element"><span class="btn-translate"><span class="ico-translate"></span>TRANSLATE</span></div>
    </div>
    <div {{ bem('social-share', [], header__base_class) }}>
      <a href="#">{% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: facebook__social_src,
            image_alt: 'Facebook',
            responsive_image_blockname: 'ico-facebook',
          } %}</a>
      <a href="#">{% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: twitter__social_src,
            image_alt: 'Twitter',
            responsive_image_blockname: 'ico-twitter',
          } %}</a>
      <a href="#">{% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: instagram__social_src,
            image_alt: 'Instagram',
            responsive_image_blockname: 'ico-instagram',
          } %}</a>
      <a href="#">{% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: youtube__social_src,
            image_alt: 'Youtube',
            responsive_image_blockname: 'ico-youtube',
          } %}</a>
    </div>
  </div>
</div>
