{{ attach_library('countyoc/navigation') }}

{% set header__logo_nav_src = directory ? '/' ~ directory ~ '' : '' %}
{% set header__search_src = directory ? '/' ~ directory ~ '/images/icons/ico-search.svg' : 'images/icons/ico-search.svg' %}

<div {{ bem('navigation', [], header__base_class) }}>
  <div {{ bem('branding', [], header__base_class) }}>
    {% block header__logo_top %}
      {% embed "@atoms/links/link/link.twig" with {
        link_base_class: 'logo-link',
        link_url: logo_link__url|default('/'),
      } %}
        {% block link_content %}
          {% if header__logo_nav_src %}
            {% include "@atoms/images/image/responsive-image.twig" with {
              output_image_tag: true,
              image_src: header__logo_nav_src,
              image_alt: 'Logo',
              responsive_image_blockname: 'logo',
            } %}
          {% endif %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  </div>
  <div {{ bem('menu', [], header__base_class) }}>
    {% block header__menu %}
      {% include "@molecules/menus/main-menu/main-menu.twig" %}
    {% endblock %}
  </div>
  <div {{ bem('search', [], header__base_class) }}>
    <a href="#">
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_src: header__search_src,
        image_alt: 'Search',
        image_base_class: 'ico-search',
        responsive_image_blockname: 'search',
      } %}
    </a>
    {% block header__search %}
      {% include "@molecules/search-bar/search-bar.twig" %}
    {% endblock %}
  </div>
</div>
