<li>
  {% if items %}
    <div class="parent">
      <a class="caret" href="javascript:void(0);"></a>
      <a href="{{ link }}">{{ title }}</a>
    </div>
    <ul class="nested">
      {% for sublink in items %}
        {{ sublink }}
      {% endfor %}
    </ul>
  {% else %}
    <a href="{{ link }}">{{ title }}</a>
  {% endif %}
</li>
